asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
idna==2.7
oauthlib==2.1.0
pkg-resources==0.0.0
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.6.8
requests==2.21.0
requests-oauthlib==1.0.0
six==1.11.0
tweepy==3.7.0
urllib3==1.23
